@font-face {
    font-family: 'rubik';
    src: url(fonts/Rubik/Rubik-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}
#main{
    height: 1200px !important;
}
.nav-link{
    color: black !important;
    font-family: 'rubik';
}
#h1{
    color: rgba(0, 128, 0, 0.61);
    font-family: 'rubik';
    font-size: 240%;
    margin-left: 60px;
    margin-right: 60px;
}
#logo{
    color: black;
    font-family: 'rubik';
    font-weight: 800;
    font-size: xx-large;
}
#h1-1{
    color: black;
    font-size: 150%;
    padding-left: 60px;
    font-family: 'rubik';
}
.row{
    margin-top: 120px !important;
}
#anchor{
    color: green;
    text-decoration: underline;
}
#para1{
    color: black;
    font-family: 'rubik';
    font-size: 160%;
    padding-left: 90px;
}
#header-button{
    text-transform: capitalize;
    font-family: 'rubik';
    background-color: green;
    color: white;
    height: 60px;
    border-radius: 30px;
    border: none;
    font-size: x-large;
    width: 320px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 90px;
}
#main2{
    width: 100%;
    display: flex;
    background-color: #37373F;
}
.main2-1{
    width: 50%;
    /* border: 1px solid black; */
}
.main2-1 h1{
    font-family: 'rubik';
    color: white;
    margin-left: 100px;
    margin-top: 140px;
}
#main2-1-span{
    color: rgba(0, 128, 0, 0.61);
    font-family: 'rubik';
}
.main2-1 h4{
    color: rgba(255, 255, 255, 0.664);
    font-family: 'rubik';
    margin-left: 150px;
    margin-top: 60px;
}
#main2-1-button{
    background-color: green;
    font-family: 'rubik';
    width: 220px;
    height: 60px;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: larger; 
    margin-left: 160px;
    margin-top: 20px;  
}
.main2-2{
    margin-top: 170px;
    margin-left: 100px;
    /* border: 1px solid black; */
    margin-bottom: 0px;
    width: 40%;
    padding-right: 40px;
}
.box1{
    display: flex;
    margin-top: 80px;
}
.box1-img img{
    width: 40px;
    height: 40px;
    background-color: #5F5F65;
    border-radius: 50%;
    margin-left: 50px;
}
.box1-heading{
    color: rgba(0, 128, 0, 0.644);
    font-size: xx-large;
    font-family: 'rubik';
    margin-left: 40px;
}
.box1-para{
    color: rgba(255, 255, 255, 0.753);
    font-size: larger;
    font-family: 'rubik';
    margin-left: 40px;
    margin-top: 10px;
}
.box-title{
    display: flex;
    flex-direction: column;
}
#more{
    color: rgba(0, 128, 0, 0.596);
    margin-top: 80px;
}
#right:hover{
    background-color: green;
}
#main3{
    background-color: #37373F;
}
#main3{
    display: flex;
    padding-top: 130px;
    height: 900px;
}
#main3-1{
    width: 40%;
}
#main3-1 h1{
    color: white;
    font-family: 'rubik';
    padding-left: 90px;
    padding-right: 50px;
    width: 100%;
}
#main3-1-span1{
    color: rgba(0, 128, 0, 0.692);
}

#main3-2 {
    /* padding-left: 90px; */
    width: 60%;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-around;
}
#main3-2-card1{
    width: 40%;
    /* margin-left: 250px; */
}
#main3-2-card1 h1{
    color: rgba(0, 128, 0, 0.664);
    font-family: 'rubik';
    font-size: 560%;
}
#main3-2-card1 h3{
    color: white;
    font-family: 'rubik';
}
#main3-2-card1 h5{
    color: rgba(255, 255, 255, 0.651);
}
#main3-2-card1{
    width: 40%;
    height: 300px !important;
    /* margin-left: 130px; */
}
#main3-2-card2 h1{
    color: rgba(0, 128, 0, 0.664);
    font-family: 'rubik';
    font-size: 560%;
}
#main3-2-card2 h3{
    color: white;
    font-family: 'rubik';
}
#main3-2-card2 h5{
    color: rgba(255, 255, 255, 0.651);
}

#main3-2-card2{
    width: 40%;
    height: 300px !important;
   
    /* margin-left: 130px; */
}
#main3-2-card2 h1{
    color: rgba(0, 128, 0, 0.664);
    font-family: 'rubik';
    font-size: 560%;
}
#main3-2-card2 h3{
    color: white;
    font-family: 'rubik';
}
#main3-2-card2 h5{
    color: rgba(255, 255, 255, 0.651);
}

#main3-2-card3{
    width: 60%;
    margin-left: 130px;
}
#main3-2-card3 h1{
    color: rgba(0, 128, 0, 0.664);
    font-family: 'rubik';
    font-size: 560%;
}
#main3-2-card3 h3{
    color: white;
    font-family: 'rubik';
}
#main3-2-card3 h5{
    color: rgba(255, 255, 255, 0.651);
}
#main3-2 .row{
    width: 60%;
}
.slider-main{
    background-color: #2D2D34;
display: flex;
width: 100%;
justify-content: center;
/* align-items: center; */
height: 500px;
border: 1px solid white;

padding-top: -230px;
}
#carouselExampleIndicators{
    width: 100% !important;
    height: 400px !important;
}
#slider-image{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.main4{
    background-color: #2D2D34;
}
.main4 h1{
    color: white;
    font-family: 'rubik';
    padding-top: 120px;
    padding-left: 100px;
    padding-bottom: 60px;
    border: 1px solid black;
    font-size: 290%;
}
.main4 h1 span{
    color: rgba(0, 128, 0, 0.651);
    
}